name: CI

on:
  push:
    branches: [ 'main' ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  CI: true

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Setup Bun
      uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun ci

    - name: Generate companions
      run: bun --bun run generate:companions

    - name: Build
      run: bun --bun run build

    - name: Run tests
      run: bun --bun run test


  lint:
    name: Code quality
    runs-on: ubuntu-slim
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Setup Biome
      uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13 # v2.6.0

    - name: Run Biome
      run: biome ci .